@import "./themes/dark";
@import "./themes/light";
@import "reset";
@import "variables/global";

body {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
}

.content-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-wrapper {
    flex-grow: 1;
}
